/* Стили для страницы 404 */
.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b0d0d;
    color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.error-container {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.error-container h1 {
    font-size: 100px;
    color: #ff0000;
    margin: 0;
}

.error-container h2 {
    font-size: 30px;
    margin: 10px 0;
    color: #ffd1d1;
}

.error-container p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #e0aaaa;
}

.btn-back {
    display: inline-block;
    background-color: #b71c1c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #d32f2f;
}
